{% extends 'layout/base.html' %}

{% block 'title' %} Articulos {% endblock %}
{% block 'styles' %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css
">{% endblock %}
{% block 'scripts' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js
"></script> {% endblock %}
{% block 'content' %}
{% include 'iching/partials/navbar.html' %}

<div class="container mx-3">


    <div class="item5 col-s-12 col-8" id="blog">

        {% for articulo in articulos %}
        <br>
        <br>
        <br>
        <h1><></h1>
        <br>
        <h2 >{{articulo.titulo}}</h2>

        <br>
            <div class="tiny">
            {{articulo.descripcion|safe}}
            </div>
            <br>
            <br>
        <br>
        <a href="{{ articulo.get_absolute_url }}" class="btn btn-dark px-3">Ver</a>
        <br>
        {% endfor %}


    </div>
</div>
{% endblock %}