{% load static%}
<!DOCTYPE html>
<html>
    <head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q83ETZHPSL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q83ETZHPSL');
</script>
        <meta name="google-site-verification" content="H8ibpyzLzTdow6JwpwtVscKHdHn45oUBu8z4IiFPZ_A" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> I-Ching Libre | {%block 'title'%} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block 'styles' %}{% endblock %}

        {% block 'scripts' %}{% endblock %}

    </head>
    <body>
        {% block 'content' %}
        {% endblock %}

        {% block 'atras' %}
          <h1><a href="../" class="mb-5 d-flex align-items-center justify-content-center"><</a>  </h1>

        {% endblock %}
    </body>


</html>